# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2024 Rifa Achrinza
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  code-lint:
    name: Code Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.21.1
          cache: npm
      - name: Setup ShellCheck
        run: |-
          curl -LO https://github.com/koalaman/shellcheck/releases/download/v0.10.0/shellcheck-v0.10.0.linux.x86_64.tar.xz
          tar -xJf shellcheck-v0.10.0.linux.x86_64.tar.xz
          install -Dm 755 "shellcheck-v0.10.0/shellcheck" /usr/local/bin/shellcheck
      - name: Bootstrap Dependencies
        run: npm ci
      - name: Verify Code Linting
        run: |-
          shellcheck -x \
            start-db2.sh \
            scripts/test.sh
  ghation-types-lint:
    name: GitHub Action Types Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Check Typings
        uses: krzema12/github-actions-typing@21db25f90324def9328034891ea446b023b8ea77 # v1.0.6
  commit-lint:
    name: Commit Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    if: ${{ github.event.pull_request }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            public.dhe.ibm.com:443
            registry.npmjs.org:443
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.21.1
          cache: npm
      - name: Bootstrap Dependencies
        run: npm ci
      - name: Verify Commit Linting
        run: |-
          npm exec \
            --no \
            --package=@commitlint/cli \
            -- \
            commitlint \
              --from=origin/main \
              --to=HEAD \
              --verbose
  license-lint:
    name: License Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 1
      - name: Setup REUSE Tool
        uses: fsfe/reuse-action@bb774aa972c2a89ff34781233d275075cbddf542 # v5.0.0
  test-ghaction:
    name: Test (GitHub Action)
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      matrix:
        db2-version:
          - sha256:77095d4e04cf4448c0257086afcb2c166193d718dc33441da3b949f97e21efd5 # v11.5.9.0
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            dd2.icr.io:443
            github.com:443
            icr.io:443
            nodejs.org:443
            objects.githubusercontent.com:443
            production.cloudflare.docker.com:443
            public.dhe.ibm.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.21.1
          cache: npm
      - name: Bootstrap Dependencies
        run: npm ci --prefer-offline
      - name: Start DB2 Server
        uses: ./
        with:
          db2-license: accept
          db2-version: ${{ matrix.db2-version }}
      - name: Run Tests
        run: npm test --ignore-scripts
